<center><div class="jumbotron center">
	<h1>Welcome to my app!</h1>
		<p></p> <!-- ^Moves heading away from body -->
		<p><%= link_to "Log In", "#", class: "btn btn-default" %>
		<%= link_to "Sign Up", "#", class: "btn btn-danger" %></p>
		<!-- this is how you link in ruby on rails ^ -->
</div></center>
