<h1>Welcome to my first website!</h1>
	<p>Want to learn more about me? Click <a href="https://www.facebook.com/justin.cas.503">here</a></p>
	<!-- this is how you link in HTML ^ -->
	<p> I'm a business student. Want to check out my professional side? Go to my <%= link_to "LinkedIn", "https://www.linkedin.com/profile/view?id=304494909&trk=nav_responsive_tab_profile_pic" %></p>
	<!-- this is how you link in ruby on rails ^ -->
<h2>If you want to learn other information, feel free to <%= link_to "explore", about_path %>
	
